.summary-wrapper {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    
}

.alert {
    margin-bottom: 10px;
}

.summary-content{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    width: 100%;
    column-gap: 40px;
}


.order-image-container{
    overflow: hidden;
    height: 190px;
}

.order-image{
    width: 100%;
}

.product-info{
    width: 95%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.product-name {
    font-size: 20px;
}

.product-price {
    font-size: 18px;
}

.product-amount {
    font-size: 10px;
}

.cart-total{
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(199, 199, 199);
}

.actions{
    display: flex;
    justify-content: flex-end;
}

.summary-btn{
    background-color: #2c94e8;
    color: white;
    padding: 10px;
    margin-left: 20px;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: #2c94e8;
      border: 1px solid #2c94e8;
    }
}


