.modal {
  position: fixed;
  top: 20%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 700px) {
  .modal {
    width: 20rem;
    left: calc(50% - 10.6rem);
  }
}

@media only screen and (max-width: 300px) {
  .modal {
    width: 15rem;
    left: calc(50% - 8rem);
  }
}
